services:
  frontend:
    build:
      context: ..
      dockerfile: deployment/production.frontend.dockerfile
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    networks:
      - local-network
    restart: always
    env_file:
      - .env

  backend:
    build:
      context: ..
      dockerfile: deployment/production.backend.dockerfile
    expose:
      - "${BACKEND_PORT}"
    restart: always
    env_file:
      - .env
    networks:
      - local-network

  db:
    image: mysql:8.0
    restart: always
    ports:
      - "${MYSQL_PORT}:${MYSQL_PORT}"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - ../project-data/mysql-data:/var/lib/mysql
    env_file:
      - .env
    networks:
      - local-network

networks:
  local-network:
    driver: bridge
