services:
  frontend:
    build:
      context: ..
      dockerfile: development/frontend/Dockerfile
    ports:
      - "80:80"
    networks:
      - local-network
    restart: always

  backend:
    build:
      context: ..
      dockerfile: development/backend/dockerfile
    expose:
      - "8085"
    restart: always
    env_file:
      - .env
    networks:
      - local-network

  db:
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
    volumes:
      - mysql_data:/var/lib/mysql
    env_file:
      - .env
    networks:
      - local-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
    networks:
      - local-network

volumes:
  mysql_data:

networks:
  local-network:
    driver: bridge
