name: Build and Deploy React frontend + Express backend

on:
  push:
    branches: [main]
  tags:
    - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Cache Yarn
        uses: actions/cache@v3
        with:
          path: ~/.yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

      - name: Install frontend dependencies
        working-directory: ./development/frontend
        run: yarn install --frozen-lockfile

      - name: Build frontend
        working-directory: ./development/frontend
        run: yarn build

      - name: Install backend dependencies
        working-directory: ./development/backend
        run: yarn install --frozen-lockfile

      - name: Deploy to VPS server
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ./deployment
            git pull
            docker compose down
            docker compose up --build --scale backend=3 -d
